:root {
    --around-purple: #9447ff;
    --around-purple-lighter: #ac70ff;
    --duration-fast: 250ms;
    --border-width: 2px;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    color: white;
}
